body{
	margin:0px;
}
.CardsContainer{
	position:fixed;
	width: 200vmax;
	height: 200vmax;
	left: calc(50vw - 100vmax);
	top: calc(50vh - 100vmax);
}
.MainBg{
	fill:aliceblue;
}
.UIBg{
	fill:none;
}
.stack[active]{
	filter:drop-shadow(0 0 5px red);
	opacity: 0.5;
	pointer-events:none;
}